[data-component="TimeBar"] {
    width: 100%;
    padding: 0 15px;

    .color-container {
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 6px;
        margin: 10px 0;
        padding: 1px;

        .color {
            height: 8px;
            background-color: red;
            border-radius: 4px;
        }
    }

    .label {
        font-size: 14px;

        &.time-is-up {
            padding-top: 18px;
        }
    }
}
