[data-component="MembersList_Item"] {
    width: 12vw;
    height: 16vw;
    text-align: center;
    border: 2px solid transparent;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &:last-of-type() {
        margin-right: 0;
    }

    .icon {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: 120%;
        background-repeat: no-repeat;
    }

    .name {
        font-size: 18px;
        font-weight: 100;
        margin-bottom: 10px;
    }

    &.member {
        &.selected {
            border: 2px solid lightgray;
        }
    }

    &.add-new {
        cursor: pointer;

        .icon {
            width: 50%;
        }

        .button {
            background-color: rgba(0, 0, 0, 0.1);
            font-size: 14px;
            font-weight: 100;
            border: none;
            border-radius: 10px;
            padding: 8px 15px;
        }
    }
}
