[data-component="AddNewButton"] {
    width: 12vw;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 0 12px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        border: 2px solid lightgray;
    }

    .icon {
        width: 80%;
        height: 8vw;
        background-position: center;
        background-size: 120%;
        background-repeat: no-repeat;
    }

    .label {
        font-size: 18px;
        font-weight: 100;
    }
}
